[submodule "corner"]
	path = corner
	url = https://github.com/malsup/corner.git
[submodule "l10n.js"]
	path = l10n.js
	url = https://github.com/eligrey/l10n.js.git
[submodule "tempo"]
	path = tempo
	url = https://github.com/twigkit/tempo.git
